.Rproj.user
.Rhistory
*.RData
*.Rproj
plots/*
microarray_data/*
data/*
*.Rhis
old_data/*
*.pdf
*.out
docs/*
bedfiles/*
results/*
site_count_matrices/*
y_input_elastic_net/*
*.Robj
nohup*
scripts/for_sandy/*
Robjs/*
nconds_outputs/*
software/*
